/**
 * Styles for Luke's Website
 * Author: Addison Benzshawel
 * Author URI: http://addison.im
 */

/* call fonts and framework styles */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400,300');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import url('stylesheets/normalize.css');
@import url('stylesheets/foundation.css');
@import url('stylesheets/slick.css');

/* global */

html, body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
}

/* header */

header {
	width: 100%;
	margin: 30px auto 60px auto;
}
.top-bar {
	background-color: transparent;
	box-shadow: none;
}

.top-bar .row.mobile-nav {
	height:40px;
}

.top-bar .name h1 a {
	color:#000;
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
	background-color: transparent;
}

.top-bar-section li a:hover, .top-bar-section li:hover {
	background-color: transparent !important;
	color:#555 !important;
}

.top-bar-section ul li > a { 
	color:#000;
	font-size: 16px;
}

.fa.fa-bars.fa-2x, .top-bar .toggle-topbar a span i  {
	color:#000;
}

.top-bar .row {
	max-width: 62.5em;
}

/* slider */

.banner {
	width: 100%;
	max-width:960px;
	margin:0 auto;
	display: block;
}

.slick-dots {
	bottom:-55px;
}
/* main content */
.posts {
	margin:50px auto;
}

.posts h3 {
	text-align: center;
}

.posts img {
	margin:25px auto;
	display: block;
}

/* footer */

footer {
	width: 100%;
	height: 250px;
	background-color: #444;
	border-top: 1px solid #c5c5c5;
}

footer ul {
	width:360px;
	margin: 108px auto;
}

footer ul li {
	display: inline;
	margin-left:50px;
}

footer ul li a i {
	color:#cec3ae;
}

/* media queries */
@media screen and (max-width: 640px){
	header {
		margin:30px auto;
	}
	.top-bar-section .right {
		display: none;
	}

	.top-bar-section .left li a {
		text-align: center;
	}
}